.user-component {
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.user-component img {
    width: 140px;
    height: 140px;
    border: 4px solid #644aff;
    border-radius: 50%;
}

.uc-location {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.uc-location svg {
    fill: #4ed8c7;
    font-size: 1.5rem;
}

.uc-location span {
    color: #9da5d1;
    font-weight: bold;
}

.uc-stats {
    display: flex;
}
.uc-stats div {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.uc-stats div:first-child {
    border-right: 1px solid #9da5d1;
}
.uc-stats .number {
    background-color: #4ed8c7;
    padding: 0.2rem 0.4 rem;
    border-radius: 3px;
}
.user-component a {
    text-align: center;
    background-color: #644aff;
    padding: 1rem;
    border-radius: 5px;
    opacity: .8;
    transition: .3s;
}

.user-component a:hover {
    opacity: 1;
}