.search-component{
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.search-component p {
    color: #9da5d1;
}

.search-container {
    display: flex;
    gap: 0.5rem;
}

.search-container input,
.search-container button {
    padding: 0.6rem;
    border-radius: 3px;
    border: none;
    color: #2b3566;
}

.search-container button {
    background-color: #0e1129;
    cursor: pointer;
}