#root {
  margin: 0 auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
}

body {
  background-color: #0e1129;
  padding: 2rem;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
}
